Id: <span id="id"></span><br />
Name: <span id="name"></span><br />
Description: <span id="description"></span>
<hr/>
<input id="do-dept-delete" type="button" value="Save" />
<a id="dept-list">Back To List</a>
<script>
    $("#id").text(model.Id);
    $("#name").text(model.Name);
    $("#description").text(model.Description);

    $("body").on("click", "#do-dept-delete", function () {
        $.ajax({
            type: "DELETE",
            url: apiRoot + "/departments/" + model.Id,
            success: function () {
                populateDepartmentTable();
            },
            error: function () {
                alert("Error occured");
            }
        });
    });
</script>